
input {
  http_poller {
    urls => {
      test2 => {
        url => "https://www.alphavantage.co/query?function=BATCH_STOCK_QUOTES&symbols=FDC&apikey=KH8GPHVX00KO408I"
        headers => {
          Accept => "application/json"
        }
     }
    }
    request_timeout => 60
    # Supports "cron", "every", "at" and "in" schedules by rufus scheduler
    schedule => { every => "15m"}
    codec => "json"
    # A hash of request metadata info (timing, response headers, etc.) will be sent here
    metadata_target => "http_poller_metadata"
  }
}

filter {
  mutate {
    rename => { 
     "Stock Quotes" => "stock_quote"
    }
  }
  mutate {
    add_field => { "symbol" => "%{[stock_quote][0][1. symbol]}" 
                   "price" => "%{[stock_quote][0][2. price]}" 
                   "volume" => "%{[stock_quote][0][3. volume]}" 
                   "last_update" => "%{[stock_quote][0][4. timestamp]}"
                 }
  }
 
  mutate {
     convert => { "price" => "float" }
  }
}

output { 
    elasticsearch { 
       hosts => ["http://192.168.0.214:9200","http://192.168.0.214:9201","http://192.168.0.214:9202"]
       user => "elastic"
       password => "Ndg=%BF7swB^D8Qlom5o"
       index => "stocks-%{+YYYY.MM.dd}"
    }
    #stdout { codec => rubydebug }
}

