input {
   tcp {
       id => "cvp"
       host => "192.168.0.214"
       port => 54545
       codec => json_lines
       type => "cvp"
   }
}

filter { 
}

output { 
    elasticsearch { 
       hosts => ["http://192.168.0.214:9200","http://192.168.0.214:9201","http://192.168.0.214:9202"]
       user => "elastic"
       password => "Ndg=%BF7swB^D8Qlom5o"
       index => "%{type}-%{+YYYY.MM.dd}"
    }
    #stdout { codec => rubydebug }
}

